* {
  margin: 0;
  box-sizing: border-box;
}

body, #announcement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#announcement {
  margin-top: 10%;
}

h1, h2 {
  font-family: 'Abril Fatface', cursive;
  font-weight: 200;
}

h2 {
  font-size: 2em;
}

h1 {
  font-size: 3em;
}

p {
  font-family: 'Raleway', sans-serif;

}